* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/background.jpg");
    background-repeat: repeat;
  backdrop-filter: blur(122px);
  background-size: auto;

  
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  gap: 24px;
}

.book-card {
  width: 350px;
  height: 500px;

  border: 2px solid #333;
  border-radius: 12px;

  overflow: hidden;

  background: #1a1a1a;
}

/* Responsive styles */
@media (max-width: 1400px) {
  #root {
    height: auto;
  }
}

@media (max-width: 1200px) {
  #root {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    padding: 20px;
  }
}